/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: 'Courier New', monospace;
	color: #01011C;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.customheader5 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'sans-serif';
	color: #00004B;
}

.resume-header {
    background-color: #F3E7D8;
}

.resume-main {
	background-color: #F3E7D8;
}

.resume-aside {
	background-color: #F8B3CC;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #C7B65D;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
